<div class="flex flex-col items-center justify-center">
  <!-- Display do tempo -->
  <div class="flex gap-2 leading-none whitespace-nowrap text-[clamp(6rem,20vw,28rem)]">
    <span>{{ minutes }}</span>
    <span>:</span>
    <span>{{ seconds }}</span>
  </div>

  <!-- Botões de controle -->
  <div class="mt-12 flex gap-6">
    <button
      class="px-8 py-4 text-xl font-semibold rounded-4xl border border-black transition-all hover:bg-gray-100"
      (click)="pauseOrStart()"
    >
      @if (!isRunning) {
        <i class="fa-solid fa-play"></i> Start
      } @else {
        <i class="fa-solid fa-pause"></i> Pause
      }
    </button>

    <button
      class="px-6 py-4 rounded-2xl transition-all hover:bg-gray-100"
      (click)="resetTimer()"
      title="Resetar timer"
    >
      <i class="fa-solid fa-arrow-rotate-right text-2xl"></i>
    </button>

    <button
      class="px-6 py-4 rounded-2xl transition-all hover:bg-gray-100"
      (click)="openConfig()"
      title="Configurações"
    >
      <i class="fa-solid fa-gears text-2xl"></i>
    </button>
  </div>
</div>

@if(isConfig) { 
  <app-dialog-config (close)="onClose()"></app-dialog-config> 
}