<div class="flex flex-col items-center justify-center ">
  <div class="flex gap-1 text-[10rem]">
    <span>25</span>
    <span>:</span>
    <span>10</span>
  </div>

   <div class="mt-12 flex gap-6">
    <button class="px-8 py-4 text-xl font-semibold rounded-2xl  text-white hover:opacity-90 transition" style="background-color: var(--color-azul);" (click)="pauseOrStart()" >
        @if(continue){
           <i class="fa-solid fa-play"></i>  
           Continuar 
        } @else{
            <i class="fa-solid fa-pause"></i>
            Pausar
        }
    </button>

    <button class="px-8 py-4 text-xl font-semibold rounded-2xl text-black bg-white hover:opacity-90 transition">
        <i class="fa-solid fa-arrow-rotate-left"></i>
        Resetar
    </button>
   </div>
</div>