<div class="fixed inset-0 bg-black/50 backdrop-blur-sm z-40"(click)="onCancel()"></div>

<dialog open class="fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded-2xl shadow-2xl w-full max-w-2xl p-8">

  <div class="flex items-center gap-4 mb-6">
    @if (activeView !== 'menu') {
      <button (click)="activeView = 'menu'" class="p-2 rounded-xl hover:bg-gray-100">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    }

    <h1 class="text-2xl font-semibold text-gray-800">
      @if (activeView === 'menu') { Configurações }
      @if (activeView === 'metas') { Metas de Estudo }
      @if (activeView === 'ciclos') { Ciclos de Estudo }
      <!-- @if (activeView === 'tarefas') { Tarefas } -->
      <!-- @if (activeView === 'tema') { Escolha uma cor } -->
    </h1>
  </div>


  @if (activeView === 'menu') {
    <nav>
      <ul class="flex flex-col gap-4">
        @for (item of itensNav; track item.key) {
          <li
            (click)="onSelect(item)"
            class="p-4 rounded-2xl bg-pink-50 shadow-md cursor-pointer"
          >
            {{ item.route }}
          </li>
        }
      </ul>
    </nav>
  }

  @if (activeView === 'metas') {
    <app-meta />
  }

  @if (activeView === 'ciclos') {
    <app-manual />
  }

  <!-- @if (activeView === 'tarefas') {
    <app-list-task />
  } -->

</dialog>
