@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --color-areia: #D3C7AD;
    --color-azul: #28374A;
    --color-terra-queimada: #754437;
    --color-verde-opaco: #6B6751;
    --color-off-argila: #F2EDDE;
}

body {
  background-color: var(--color-areia);
  font-family: "Open Sans", sans-serif;
}
