@import "tailwindcss";

:root{
    --color-areia: #D3C7AD;
    --color-azul: #28374A;
    --color-terra-queimada: #754437;
    --color-verde-opaco: #6B6751;
    --color-off-argila: #F2EDDE;
}

body {
  background-color: var(--color-areia);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
