@import "tailwindcss";

:root{
    --color-black: #000000;
    --color-off: #f3f2f0;
}

body {
  background-color: var(--color-off);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
